name: Django and Pytest

on:
  push:
    branches: [ master, release ]
  pull_request:
    branches: [ master, release ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Django Tests
      run: |
        python api_yamdb/manage.py test
    - name: Run Django migrations
      run: |
        python api_yamdb/manage.py makemigrations
        python api_yamdb/manage.py migrate
    - name: Run CSV-import script
      run: |
        cd api_yamdb
        python manage.py csv_import
    - name: Run Pytest
      run: |
        pytest
